.socials {
    display: flex;
    flex-direction: column;

}


.socials svg {


    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    overflow: visible;
    border-radius: 100%;
    fill: white;
    padding: 5px;
    max-height: 64px;
    transition: all 0.5s ease;




}

.socials a:hover svg {
    background: var(--supple)
}