{% extends 'base.html' %}
{% load static %}
{#css is at styles.css#}

{% block content %}
    <div class="about-main">
        <div class="about-container">
          <div class="break">
              <div><span style="font-weight: bold;">oasis</span> will provide an avenue for women to</div>
          </div>
          <div class="who-we-are-image">
{#              <img src={% static 'images/blog_thumbnail.png' %}>#}
          </div>
          <div class="who-we-are">

              <h1>Who we are</h1>
              <p><span style="font-weight: bold;">oasis</span> is a safe space for women in colleges and universities to come together—an oasis for their thoughts, experiences, and sufferings to be validated and given support.
              </p>
          </div>
          <div class="three-columns"></div>
          <div class="mission-image"></div>
          <div class="mission">

              <h1>mission</h1>
              <p>To provide a safe haven for women and young girls in schools and universities to seek refuge in, where they can form a community with shared experiences, all while being provided with proper access to help with their mental, emotional, and psychological needs.
              </p>
          </div>
          <div class="vision">
              <h1>vision</h1>
              <p>To be a catalyst of change in pushing for a VAW-free society and act as a frontline service provider for struggling female students who experienced forms of abuse in universities and schools nationwide.
              </p>
          </div>
          <div class="vision-image"></div>
          <div class="centered provide1">
              <label>feels safe</label>
              <p>when sharing stories</p>
          </div>
          <div class="centered provide2">
              <label>seek refuge</label>
              <p>from psychiatrists</p>
          </div>
          <div class="centered provide3">
              <label>find solace</label>
              <p>in a community</p>
          </div>
        </div>
    </div>
{#    <div class="right">#}
{#    add html here for right panel#}
{#    This is at the right panel.#}
{#    </div>#}
{%  endblock content %}


{% block script %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock script %}