{% load static %}
<div class="blog-article-container">
    <div class="blog-article ">
        <div class="blog-article-image-container">
            <img class="blog-article-image" alt="thumbnail" src="{{ blog.image.url}}">
        </div>
        <div class="blog-article-content-container">
            <div class="blog-article-content">
                <div class="article-title-container">
                    <div class="article-title">
                        {{  blog.title }}
                    </div>
                </div>
                <div class="article-author-container">
                    <p class="article-author">
                        {{ blog.author }}
                    </p>
                    <p class="article-time">
                        {{ blog.get_date}}
                    </p>
                </div>
                <div class="article-text-container">
                    <p class="article-text">
                        {{ blog.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>