{%  load static %}

<div class="right-contacts-panel">
        <h2>Contacts</h2>
        <div class="scrollbar-wrapper rounded personal">
        <div class="contact-list  ">
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>

        </div>
        </div>
    </div>
    <div class="right-blogs-panel">
        <h2>Featured Blogs</h2>
        <div class="blog-preview ">
            <img class="article-image" src="{% static 'images/blog-image-sample.png' %}">
            <div class="article-content">
                <h2 class="article-title">article title</h2>
                <p class="article-detail">BY NAME/ DECEMBER 2, 2022</p>
                <p class="article-description">
                    Lorem ipsum dolor sit amet. Vel omnis ipsa sit nulla galisum aut delectus facere. Est repudiandae voluptas hic exercitationem totam et voluptas eligendi aut illo debitis et eveniet animi.
                </p>
            </div>
        </div>
    </div>