{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="searchbar"></div>
<div class="centered">
    <h2>Discussions</h2>

    <div class="thread-list">
        <div class="thread">
            <div class="topic">Im having issues with my husband.</div>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus natus provident
                eveniet suscipit modi? Quos fuga sit sapiente cupiditate enim commodi reprehenderit quaerat dolorem,
                dolores quae doloribus distinctio voluptas porro tenetur quisquam neque nisi eius quas facilis velit
                mollitia temporibus deserunt. Dolore libero eaque numquam cum consequuntur. Veritatis deserunt culpa
                maiores id, vel necessitatibus expedita nisi velit! Repudiandae neque impedit consequuntur nulla!
                Facilis, suscipit eaque fugiat doloribus corrupti nemo minima, dolores amet quas, nisi doloremque! Natus
                minima esse cumque ipsa aspernatur, amet incidunt ipsum ea quis. Odit suscipit obcaecati neque mollitia
                deleniti tenetur, facere ab ea adipisci harum? Aliquam, nisi? Illo quas laudantium cumque ullam et iure
                suscipit assumenda tempora hic modi voluptatum obcaecati velit enim laboriosam, nam aliquid laborum
                eaque! Nihil dolor fuga accusamus sint exercitationem, perspiciatis nostrum officiis voluptate corrupti,
                quae, obcaecati temporibus. Animi at aliquid fugiat reiciendis.</p>
            <div class="stats">Comments - 69 </div>
        </div>
    </div>
</div>

<div class="right">
    <h2>Must have something here/</h2>
</div>
{% endblock%}