{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class=" main ">
    <div id="new-post">
        <a class="fake-input" href="{% url 'new_post' %}">
            <input class="rounded personal" type="text" value="What are you thinkin?">
        </a>
        <a id="new-post-button" href="{% url 'new_post' %}">+</a>
        <div id="user-profile"  ><img  src="{% static 'images/profile.svg' %}">
            <div id="profile-dropdown">
                <div><a href="#path">Profile</a></div>
                <div><a href="#path">Settings</a></div>
                <div><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>

    </div>
    <div class="sorting">
        <label for="sort-type">Sort by:</label>
        <select class = "rounded personal" name="sort-type" id="sort-type">
          <option value="date">Recent</option>
          <option value="likes">Top</option>
        </select>
    </div>
    <div class="thread-list ">
        {% for post in posts %}

        <div class="rounded card ">
        <a href="path/to/post" class="expand-button">
            <img src="{%  static 'images/exapnd.svg' %}">
        </a>
            <div class="post-top">
                <div class="post-author">
                    <div class="user-image">
                        <img src="{% static 'images/profile_pic_placeholder.svg' %}">
                    </div>
                    <h4 class="post-username">@{{ post.user.username }}</h4>
                    <p class="post-time">{{ post.get_date}}</p>
                </div>
                <div class="post-content">
                    <p class="post-title">{{ post.title }}</p>
                    {% for category in post.category.all %}
{#                    <h4 class="category">Categories: {{ category.title }}</h4>#}
                    {%  endfor %}
                    <p class="post-text">{{ post.content }}</p>
                </div>
            </div>
            <div class="post-bottom">
                <div class="post-actions">
                    <img src="{% static "images/love.svg" %}">
                    <img src="{% static "images/comment.svg" %}">
                </div>

                <div class="comment-box">
                    <form>
                        <input class="rounded personal" type="text" value="What are your thoughts?">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="right">
    <div class="right-contacts-panel">
        <h2>Contacts</h2>
        <div class="scrollbar-wrapper rounded personal">
        <div class="contact-list  ">
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>
            <div class="contact-item">
                <a href="#urltoprofile"><img src="{% static 'images/profile1.svg' %}"></a>
                <a href="#urltoprofile">@username</a>
                <a href="#urltomessage"><img src="{% static 'images/message.svg' %}"></a>
                <a href="#urltocall"><img src="{% static 'images/call.svg' %}"></a>
            </div>

        </div>
        </div>
    </div>
    <div class="right-blogs-panel">
        <h2>Featured Blogs</h2>
        <div class="blog-preview ">
            <img class="article-image" src="{% static 'images/blog-image-sample.png' %}">
            <div class="article-content">
                <h2 class="article-title">article title</h2>
                <p class="article-detail">BY NAME/ DECEMBER 2, 2022</p>
                <p class="article-description">
                    Lorem ipsum dolor sit amet. Vel omnis ipsa sit nulla galisum aut delectus facere. Est repudiandae voluptas hic exercitationem totam et voluptas eligendi aut illo debitis et eveniet animi.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{%  endblock %}