{%  load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Oasis | Login</title>
  <link rel="icon" type="image/logo" href="">
  <link rel="stylesheet" type="text/css" href="{%  static 'css/login.css' %}">
</head>
<body>
<div class="container" id="container">

	<form method="post">
        {% csrf_token %}
		<h1 class="sign-in">Sign in</h1>
        {{ form.username }}
        {{ form.password }}
       <p>{{ message }}</p>

        <a href="{%  url 'register' %}"><p>Don't have an account yet?</p></a>
		<button type="submit">Sign In</button>
	</form>
</div>
</body>
</html>