{% load static %}
<header>
    <div class="header-scroll-wrapper">
    <div class="title">
        <div>
    <a href="{% url 'home' %}" ><img id="logo" src="{% static 'images/logo.svg' %}" type="image/svg+xml"></a>
            <p>oasis</p>
        </div>
        <div class="tagline">tagline here</div>
    </div>
    <div class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Community</a></li>
            <li><a href="{%  url 'counselling' %}">Look for Support</a></li>
            <li><a href="{%  url 'blog' %}">Blog</a></li>
            <li><a href="{%  url 'about' %}">About Us</a></li>
        </ul>
    </div>
    <div class="site-helpline">
        <div class="gradient-box">
            <h3>24/7 Helpline</h3>
            <p>Always to help you.</p>
             <a id="contact-button"class="button" href="#popup1">Contact</a>


            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>VAWC Hotlines</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="contact-information">
                        <div class="contact-office">
                            Provincial Social Welfare & Development Office
                        </div>
                        <div class="contact-location">
                            <em>Provincial Capitol Building, Rustico Kalibo</em>
                        </div>
                        <div class="contact-number">
                            (036) 268-3426
                        </div>
                    </div>

                    <div class="contact-information">
                        <div class="contact-office">
                            Women  & Children Protection Unit
                        </div>
                        <div class="contact-location">
                            <em>Angel Salazar Memorial General Hospital</em>
                        </div>
                        <div class="contact-number">
                            (036) 268-3426
                        </div>
                    </div>

                    <div class="contact-information">
                        <div class="contact-office">
                            Public Attorney’s Office
                        </div>
                        <div class="contact-location">
                            <em>Hall of Justice, San Miguel, Jordan</em>
                        </div>
                        <div class="contact-number">
                            (036) 268-3426
                        </div>
                    </div>

                    <div class="contact-information">
                        <div class="contact-office">
                            Provincial Social Welfare & Development Office
                        </div>
                        <div class="contact-location">
                            <em>Provincial Capitol Building, Rustico Kalibo</em>
                        </div>
                        <div class="contact-number">
                            (036) 268-3426
                        </div>
                    </div>

                    <div class="contact-information">
                        <div class="contact-office">
                            Women  & Children Protection Unit
                        </div>
                        <div class="contact-location">
                            <em>Angel Salazar Memorial General Hospital</em>
                        </div>
                        <div class="contact-number">
                            (036) 268-3426
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <img id="helpline-pic" src="{% static 'images/telephone.svg'  %}" >
    </div>
    </div>

</header>
