{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="blog-main centered ">
        <form class="new-post-form" method="post">
            {%  csrf_token %}
                <label>Title<br>
                </label>

                    {{ form.title }}
                <label>
                    Body<br>
                </label>

                    {{ form.content }}
                <label>Category<br>
                </label>

                    {{ form.category }}


            <input type="submit" value="Post">

        </form>
    </div>
{% endblock content %}

{%  block script %}
    <script src="{%  static 'js/new_post.js' %}"></script>
{%  endblock %}